<style>
    /* Style for sub-category links */
    .sub-category-link {
        font-size: 12px; /* Adjust the font size as needed */
        color: #ffffff; /* Optional: Change the text color */
    }
</style>

<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Frontend" alt=""></td>
        <td><a href="{{site.baseurl}}/basics/home">Home</a></td>
        <td><a href="{{site.baseurl}}/basics/fiction">Fiction</a></td>
        <td><a href="{{site.baseurl}}/basics/non_fiction">Non-fiction</a></td>
    </tr>
</table>

