<style>
    /* Style for sub-category links */
    .sub-category-link {
        font-size: 12px; /* Adjust the font size as needed */
        color: #ffffff; /* Optional: Change the text color */
    }
</style>

<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Frontend" alt=""></td>
        <td><a href="{{site.baseurl}}/basics/home">Home</a></td>
        <td>
            <a href="{{site.baseurl}}/basics/books">Fiction books</a>
            <ul>
                <li><a class="sub-category-link" href="{{site.baseurl}}/basics/books/fantasy">Fantasy</a></li>
                <li><a class="sub-category-link" href="{{site.baseurl}}/basics/books/fantasy-subcategory-2">Science fiction</a></li>
                <li><a class="sub-category-link" href="{{site.baseurl}}/basics/books/fantasy-subcategory-2">Dystopian</a></li>
                <li><a class="sub-category-link" href="{{site.baseurl}}/basics/books/fantasy-subcategory-2">Action and adventure</a></li>
                <li><a class="sub-category-link" href="{{site.baseurl}}/basics/books/fantasy-subcategory-2">Mystery</a></li>
                <li><a class="sub-category-link" href="{{site.baseurl}}/basics/books/fantasy-subcategory-2">Horror</a></li>
                <li><a class="sub-category-link" href="{{site.baseurl}}/basics/books/fantasy-subcategory-2">Thriller and suspense</a></li>
                <li><a class="sub-category-link" href="{{site.baseurl}}/basics/books/fantasy-subcategory-2">Historical fiction</a></li>
                <li><a class="sub-category-link" href="{{site.baseurl}}/basics/books/fantasy-subcategory-2">Romance</a></li>
                <li><a class="sub-category-link" href="{{site.baseurl}}/basics/books/fantasy-subcategory-2">Women's fiction</a></li>
                <li><a class="sub-category-link" href="{{site.baseurl}}/basics/books/fantasy-subcategory-2">Contemporary fiction</a></li>
                <li><a class="sub-category-link" href="{{site.baseurl}}/basics/books/fantasy-subcategory-2">Literary fiction</a></li>
                <li><a class="sub-category-link" href="{{site.baseurl}}/basics/books/fantasy-subcategory-2">Magical realism</a></li>
                <li><a class="sub-category-link" href="{{site.baseurl}}/basics/books/fantasy-subcategory-2">Graphic novel</a></li>
                <li><a class="sub-category-link" href="{{site.baseurl}}/basics/books/fantasy-subcategory-2">Young adult</a></li>
                <li><a class="sub-category-link" href="{{site.baseurl}}/basics/books/fantasy-subcategory-2">New adult</a></li>
            </ul>
        </td>
        <td>
            <a href="{{site.baseurl}}/basics/sports">Non-fiction books</a>
            <ul>
                <li><a class="sub-category-link" href="{{site.baseurl}}/basics/sports/sports-subcategory-1">Biography</a></li>
                <li><a class="sub-category-link" href="{{site.baseurl}}/basics/sports/sports-subcategory-2">Memoir autobiography</a></li>
                <li><a class="sub-category-link" href="{{site.baseurl}}/basics/books/fantasy-subcategory-2">Self-help</a></li>
            </ul>
        </td>
    </tr>
</table>

